.intro-content {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
  align-items: center;
  position: relative;
  top: -2rem;
}

.intro-text-content,
.intro-img-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-img-content img {
  max-width: 100%;
  min-height: auto;
}
